header {
    height: 70px;
    width: 100%;
  }
  
  .header-container {
    background-color: rgb(71, 3, 122);
    /* background: rgb(244, 94, 41); */
    position: fixed;
    width: 100%;
    z-index: 1000 !important;
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 45px;
    color: rgb(255, 255, 255);
    font-weight: 900px;
    letter-spacing: 0.5px;
    font-size: 17px;
  }
  
  .logo img {
    height: 70px;
    align-self: center;
    padding: 5px 0px;
  }
  
  .horizontal-list ul {
    display: flex;
    list-style: none;
    text-transform: capitalize;
    gap: 64px;
    font-weight: 500;
    margin-bottom: 0em !important;
  }
  
  .horizontal-list ul li a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    padding-bottom: 5px;
    transition: border-bottom 0.5s;
  }
  
  .horizontal-list ul li a:hover {
    border-bottom: 1px solid #fff;
    padding-bottom: 5px;
  }
  
  .horizontal-list ul :hover {
    cursor: pointer;
  }
  
  .nav-bar-buttons {
    display: flex;
    gap: 20px;
  }
  
  .nav-bar-buttons button {
    text-transform: capitalize;
    width: 102px;
    height: 36px;
    font-size: 14px;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    font-size: 17px;
  }
  
  .nav-bar-buttons .login-button {
    border: 1px solid white;
  }
  
  .nav-bar-buttons .sign-up-button {
    border: none;
  }
  
  .nav-bar-buttons button:hover {
    background-color: white;
    cursor: pointer;
    color: black;
  }
  
  .nav-bar-buttons .sign-up-button:hover {
    border: 1px solid white;
  }

  .main-footer {
    background-color: rgb(60, 67, 70);
    height: 100vh;
    color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .first-part-footer {
    margin: auto;
    padding-left: 200px;
    padding-right: 200px;
    background-color: rgb(33, 33, 37);
  }
  
  .first-section {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  
  .first-section img {
    height: 80px;
    margin-top: 10px;
  }
  
  .first-section ul {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  .first-section ul li {
    list-style: none;
  }
  
  .first-section ul li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .second-section {
    display: flex;
    /* gap: 60px; */
    justify-content: space-between;
    padding-top: 20px;
  }
  
  .second-section ul li {
    list-style-type: none;
    margin-bottom: 10px;
  }
  
  .second-section ul li:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .heading {
    color: orange;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .third-section {
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    padding-bottom: 20px;
  }
  
  .third-section img:hover {
    cursor: pointer;
  }
  
  .second-part-footer {
    height: 5%;
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 35px;
    background-color: rgb(60, 67, 70);
  }
  
  .second-part-footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .social-media-icon {
      display: flex;
      gap: 20px;
  }
  
  .social-media-icon img{
      height: 30px;
      background-color: orange;
      border-radius: 100%;
  }
  
  .social-media-icon img:hover {
      cursor: pointer;
  }